extends layout

block content
  h1=title
  div(class='container' style="text-align: center;")
        button.btn( onclick=`dispatch(\"/Dog/create\")`) Create
  - var source = [{"dogName": "Rabbit", "dogAge": 10, "dogBreed": "Bulldog"},{"dogName": "Monkey", "dogAge": 1, "dogBreed": "Husky"},{"dogName": "Bolt", "dogAge": 4, "dogBreed": "Pom"}]
  h1= title
  - let result=results
  div(class="container-fluid")
    div(class="row m-1")
        each item in results
            div(class="row-sm-2", class="m-1") Dog Name: #{item.dogName}<br>Dog Age: #{item.dogAge}<br>(Dog Breed: #{item.dogBreed})<br>
              button.btn(onclick=`dispatch(\"/Dog/detail?id=${item._id}\")`) View
              button.btn(onclick= `dispatch(\"/Dog/update?id=${item._id}\")`) Update
              button.btn(onclick= `dispatch(\"/Dog/delete?id=${item._id}\")`) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }